@page "/"

@using LojaBlazorMaui.App.Models
@using Bogus

<ol class="breadcrumb mb-4 mt-3">
    <li class="breadcrumb-item">
        <NavLink Match="NavLinkMatch.All" href="">Loja de produtos</NavLink>
    </li>
    <li class="breadcrumb-item active">Página inicial</li>
</ol>
<div class="row mb-4">
    @foreach (var item in produtos)
    {
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="@item.Foto" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">@item.Nome</h6>
                    <p class="card-text">@item.Preco</p>
                    <div class="d-grid">
                        <a href="#" class="btn btn-primary">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<ProductModel> produtos = new List<ProductModel>();

    protected override async Task OnInitializedAsync()
    {
        int Seed()
        {
            return new Random().Next();    
        }

        var faker = new Faker("pt_BR");

        for (int i = 1; i <= 12; i++)
        {
            produtos.Add(new ProductModel
                {
                    Id = Guid.NewGuid(),
                    Nome = faker.Commerce.ProductName(),
                    Preco = faker.Commerce.Price(10, 200, 2, "R$"),
                    Foto = "https://picsum.photos/500/500?random=" + Seed()
                });
        }
    }
}


